<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # No reescribir archivos o directorios existentes
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Redirigir todo lo demás a index.html (SPA)
  RewriteRule ^ index.html [L]
</IfModule>
